{deps_dir, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{deps,
  [
    {apns, ".*", {git, "https://github.com/hairyhum/apns4erl.git", {branch, "contrib"}}},
    {gcm, ".*", {git, "https://github.com/hairyhum/gcm-erlang.git", {branch, "variable_url"}}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git"}},
    {lager, "2.0.1", {git, "https://github.com/basho/lager.git", {tag, "2.0.1"}}}
  ]}.
