{deps_dir, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps,
  [
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "v0.2.10"}}},
    {apns, ".*", {git, "https://github.com/inaka/apns4erl.git"}},
    {gcm, ".*", {git, "https://github.com/pdincau/gcm-erlang.git"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git"}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
    {epgsql, ".*", {git, "https://github.com/wg/epgsql.git"}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git"}},
    {sqerl, ".*", {git, "https://github.com/devinus/sqerl.git"}}
  ]}.
